.input-group {
    height: 72px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #eeeeee;
    border: 2px solid #eee;
    outline: none;
    border-radius: 5px;
}

.input-field:hover {
    border: 2px solid #eeeeee;
    background: white;
}
.input-field:active {
    border: 2px solid #eeeeee;
    background: white;
}