* {box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

.login-form {
    display: block;
	max-width: 450px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
	border-radius: 5px;
    overflow: hidden;
    padding: 40px;
}


.field {
    position: relative;
    padding-top: 20px;
}

.field label {
    display: block;
    padding: 0 2px;
    font-size: 1.1rem;
    position: absolute;
    top: 35px;
    left: 10px;
    color: black;
    cursor: text;
    transition: ease 0.3s;
}

.input-field {
    display: inline-block;
    padding: 15px;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 3px;
    outline: none;
    z-index: 10000;
}

.btn {
    background: teal;
    border: 1px solid teal;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    float: right;
}



.is-focus label {
    display: block;
    padding: 0 2px;
    background: white;
    font-size: 1.1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: ease 0.4s;
    color: teal;
}

.is-focus .input-field {
    border-color: teal;
}