* {box-sizing: border-box;}

@import 'container';
@import 'form';
@import 'buttons';

#electro {
	background: rgb(168, 5, 32);
    margin-top: 80px;
}


.card {
    display: inline-block;
    width: 33%;
    overflow: hidden;
}
.card-img {
    width: 100%;
    display: block;
}

.card-title {
    font-size: 1.2rem;
    margin: 0;
}